<div class="dislpaytable">
  <div class="valign-content">
    <div class="valign-content-inner">
      <div class="center-login">
        <div class="title-group">
          <div class="title">Create a Profile</div>
          <div class="sub-title">Please enter all fields below.</div>
        </div>
        <form
          class="login-form"
          [formGroup]="loginForm"
          (ngSubmit)="onSubmit()"
        >
          <mat-card-content>
            <mat-form-field class="example-full-width">
              <input
                matInput
                placeholder="First Name"
                name="firstName"
                formControlName="firstName"
              />
              <mat-error *ngIf="errorHandling('firstName', 'required')">
                You must provide a<strong> Firstname</strong>
              </mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input
                matInput
                placeholder="Last Name"
                name="lastName"
                formControlName="lastName"
              />
              <mat-error *ngIf="errorHandling('lastName', 'required')">
                You must provide a<strong> Lasttname</strong>
              </mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <input
                matInput
                placeholder="Email"
                name="Email"
                formControlName="Email"
                minlength="4"
              />
              <mat-error *ngIf="errorHandling('Email', 'required')">
                You must provide a<strong> Email</strong>
              </mat-error>
              <mat-error *ngIf="errorHandling('Email', 'minlength')">
                Must Provide valid <strong> Email</strong>
              </mat-error>
            </mat-form-field>
          </mat-card-content>
          <div class="form-btn-bottom">
            <div class="form-btn">
              <button type="submit" class="form-main-btn">Log in</button>
            </div>
           
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
