<div class="dislpaytable">
  <div class="valign-content">
    <div class="valign-content-inner">
      <div class="center-login">
        <div class="title-group">
          <div class="title">Login</div>
        </div>
        <form
          class="login-form"
          [formGroup]="loginForm"
          (ngSubmit)="onSubmit()"
        >
          <mat-card-content>
            <mat-form-field class="example-full-width">
              <input
                matInput
                placeholder="Username"
                name="userName"
                formControlName="userName"
              />
              <mat-error *ngIf="errorHandling('userName', 'required')">
                You must provide a<strong> Username</strong>
              </mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <input
                matInput
                placeholder="Password"
                type="password"
                name="password"
                formControlName="password"
                minlength="4"
              />
              <mat-error *ngIf="errorHandling('password', 'required')">
                You must provide a<strong> Password</strong>
              </mat-error>
              <mat-error *ngIf="errorHandling('password', 'minlength')">
                Password must have atleast <strong> 4 characters</strong>
              </mat-error>
            </mat-form-field>
          </mat-card-content>
          <div class="form-group">
            <div class="checkbox-theme pull-left">
              <input id="signinkeep" class="styled" type="checkbox" />
              <label for="signinkeep" class="arrow-label">Remember me</label>
            </div>
            <a href="reset-password.html" class="reset-password"
              >Reset Password</a
            >
          </div>
          <div class="form-btn-bottom">
            <div class="form-btn">
              <button type="submit" class="form-main-btn">Log in</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
